<div id='container'>

    <h2>PPM - Project Product Management &nbsp; </h2>
    <a [routerLink]="['/product']">Home</a> <div class='wide30'></div>
    <a [routerLink]="['/product/all']">Product List</a> <div class='wide30'></div>
    <a [routerLink]="['/product/new']">Product Creation</a>  <div class='wide30'></div>
    
    <br><br>
  
    <div id='box'>
      <h2>Product List</h2>


      <div *ngFor='let obj of allObj'>

          <!-- <img ref='' src={{obj.url}} width="100" height="100" (click)="clickImg(pro._id)"/> -->

          {{obj.title}} {{obj.price}} {{obj._id}} 
          <button (click)="clickEdit(obj._id)">Edit</button>
          <button (click)="clickDel(obj._id)">Delete</button> 
         
          <br>

      </div>
    
    </div>
  
    <br><br><br>
  
  
  </div>