<div id='container'>

    <h2>PPM - Project Product Management &nbsp; </h2>
    <a [routerLink]="['/product']">Home</a> <div class='wide30'></div>
    <a [routerLink]="['/product/all']">Product List</a> <div class='wide30'></div>
    <a [routerLink]="['/product/new']">Product Creation</a>  <div class='wide30'></div>
    
    <br><br>
  
    <div id='box'>
      <h2>Product List</h2>

      <div class='smlbox' *ngFor='let obj of allObj'>

          <div class='high5'></div>

          <img ref='' src={{obj.url}} width="70" height="50"/> <br>

          {{obj.title}}<br> 
          ${{obj.price}}<br>
          <button class='inline' (click)="clickEdit(obj._id)">Edit</button>
          <button class='inline' (click)="clickDel(obj._id)">Delete</button> 
          
      </div>

      <br><br>
    
    </div>
  
    <br><br>
  
  
  </div>