<div id='container'>
    <h2>Edit Author</h2>
    <a [routerLink]="['/author']">Home</a>
  
    <p>Update author name:</p>
    
    <div id='box'>

         <br>

         <a class='errs' *ngFor='let err of formErr'> {{err}} </a>
       
         <form (submit)="onSubmitEdit()">

          <br>

          Name:<br><br>
          <input type="text" name="formBody.name" [(ngModel)]="formBody.name"/> <br><br>

          <input type="submit" value="Submit" />

         </form>
  
      </div>
  
  </div>
  