<div id='container'>
  
  <h2>Pet Shelter</h2>
  <h3>These pets are looking for a home!</h3>
  <a [routerLink]="['/pet/newpet']">Add a pet to the shelter</a> <div class='wide20'></div>

  <a class='underline' (click)="clickSort()">Sort Type</a>

  <br><br>
  
  <div id='box'>

    <table border='1'>
        <tr>
          <th  width="120">Name</th>
          <th  width="100">Type</th>
          <th  width="150">Action</th>
        </tr>
  
        <tr *ngFor='let obj of allObj'>
          <td>
            {{obj.name}}
          </td>
          <td>
            {{obj.type}}
          </td>
          <td>
              <button class='inline' (click)="clickView(obj._id)"> &nbsp; Detail &nbsp; </button>
              <button class='inline' (click)="clickEdit(obj._id)"> &nbsp; Edit &nbsp; </button>
          </td>
        </tr>
  
      </table>
      
  </div>

</div>