<div id='container'>
  
    <h2>Pet Shelter</h2>
    <h3>Detail About {{formBody.name}}</h3>
    <a [routerLink]="['/pet']">Home</a>
  
    <br><br>
  
    <div id='box'>
  
      <form class='inline' (submit)="onSubmitEdit()"> <br>
      
      <table>

        <tr>
          <td> Name: </td>
          <td>  <input type="text" name="formBody.name" [(ngModel)]="formBody.name" readonly='readonly'/> </td>
        </tr>

        <tr>
          <td> Type: </td>
          <td> <input type="text" name="formBody.type" [(ngModel)]="formBody.type" readonly='readonly'/> </td>
        </tr>

        <tr>
          <td> Description: &nbsp; &nbsp; </td>
          <td> <input type="text" name="formBody.description" [(ngModel)]="formBody.description" readonly='readonly'/> </td>
        </tr>

        <tr>
          <td> Skills:  </td>
          <td> <input type="text" name="formBody.skill1" [(ngModel)]="formBody.skill1" readonly='readonly'/> </td>
        </tr>

        <tr>
          <td>  </td>
          <td> <input type="text" name="formBody.skill2" [(ngModel)]="formBody.skill2" readonly='readonly'/> </td>
        </tr>

        <tr>
          <td>  </td>
          <td> <input type="text" name="formBody.skill3" [(ngModel)]="formBody.skill3" readonly='readonly'/> </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
          <td> Likes </td>
          <td> <input type="text" name="formBody.likes" [(ngModel)]="formBody.likes" readonly='readonly'/> </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
          <td></td>
          <td>
              <button type="submit">Like this pet!</button><div class='wide10'></div>
              <button type='reset' (click)="clickCancel()">Adopt this pet!</button>
          </td>
        </tr>

      </table> 
    
    </form>  

    </div>
  
  
  </div>