<div id='container'>

    <h2>PPM - Project Product Management &nbsp; </h2>
    <a [routerLink]="['/product']">Home</a> <div class='wide30'></div>
    <a [routerLink]="['/product/all']">Product List</a> <div class='wide30'></div>
    <a [routerLink]="['/product/new']">Product Creation</a>  <div class='wide30'></div>
    
    <br><br>
  
    <div id='box'>
      <h2>Edit Product</h2>  

       <a class='size0' *ngFor='let err of formErr'> {{err}} <br> </a>
     
       <form class='inline' (submit)="onSubmitEdit()">
         <table>
           <tr>
             <td>Title</td>
             <td><input type="text" name="formBody.title" [(ngModel)]="formBody.title"/></td>
           </tr>
           <tr>
             <td>Price</td>
             <td><input type="number" name="formBody.price" [(ngModel)]="formBody.price" /></td>
           </tr>
           <tr></tr>
           <tr>
              <td>Img URL</td>
              <td><input type="text" name="formBody.url" [(ngModel)]="formBody.url" /></td>
           </tr>
           <tr></tr>
           <tr>
             <td></td>
             <td><input type="submit" value="Update Product" /></td>
           </tr>
          
         </table>
       </form>

    </div>
  
    <br><br><br>
  
  
  </div>